node_modules
dist
test-results.xml

# Compiled TS output
*.js
*.js.map
*.d.ts
# Exception: keep our ESM test runner configuration and config scripts
!web-test-runner.config.mjs
!declarations.d.ts
!vite.config.js
!scripts/copy-css.js
